<!-- As a heading -->
<div class="mx-auto" id="headerNavbar">
  <div class="container">
    <div class="row  ">
      <div id="main-logo" class="col-lg-4 text-center">
        <a [routerLink]="['/']">
          <img
            src="../../../assets/images/ECM_color2.png"
            alt="Emily's Christmas Magic"
            height="120"
            class="mx-auto"
          />
        </a>
      </div>
      <div class="col-lg-8 my-auto text-center">
        <h1 class="">
          <mdb-icon
            fas
            icon="phone"
            class="teal-text pr-2"
            aria-hidden="true"
          ></mdb-icon
          ><b><a class="phone-text" href="tel:330-860-3993">330-860-3993</a></b>
        </h1>
        <h3 class="">
          <mdb-icon
            fas
            icon="envelope"
            class="teal-text pr-2"
            aria-hidden="true"
          >
          </mdb-icon>
          <a class="email-text" href="mailto:EmilysChristmasMagic@gmail.com"
            >EmilysChristmasMagic@gmail.com</a
          >
        </h3>
      </div>
    </div>
  </div>
</div>
<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark teal"
  style="background-color: rgba(0, 0, 0, 0.2);"
  id="stickNavbar"
>
  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand my-auto" [routerLink]="['/']">
      <img
        *ngIf="this.showMore"
        class="navbar-brand"
        src="../../../assets/images/logo_b&w.png"
        alt="logo"
      />
    </a>
  </logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item navbar-brand ">
        <a class="nav-link waves-light" [routerLink]="['/']" mdbWavesEffect
          >Home</a
        >
      </li>
      <!--<li class="nav-item navbar-brand">
        <a
          class="nav-link waves-light"
          [routerLink]="['/Services']"
          mdbWavesEffect
          >Services</a
        >
      </li>
      <li class="nav-item navbar-brand">
        <a
          class="nav-link waves-light"
          [routerLink]="['/Gallery']"
          mdbWavesEffect
          >Gallery</a
        >
      </li>
      <li class="nav-item navbar-brand">
        <a
          class="nav-link waves-light"
          [routerLink]="['/CareTips']"
          mdbWavesEffect
          >Care Tips</a
        >
      </li>
      <li class="nav-item navbar-brand">
        <a
          class="nav-link waves-light"
          [routerLink]="['/ContactUS']"
          mdbWavesEffect
          >Contact Us</a
        >
      </li>
      <li class="nav-item navbar-brand">
        <a
          href="https://www.facebook.com/CmpCrystalMarblePolishing"
          target="_blank"
          class="nav-link"
        >
          mdb-icon fab icon="facebook"></mdb-icon>
          Facebook
        </a>
      </li>-->
    </ul>
    <!-- Links -->

    <ul *ngIf="this.showMore" class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item navbar-brand">
        <a class="white-phone-text" href="tel:850-585-3132">
          <mdb-icon fas icon="phone" aria-hidden="true"></mdb-icon>
          850-585-3132</a
        >
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
