<!-- As a heading -->
<div class="mx-auto navbar-brand-brand" id="headerNavbar">
  <div class="container">
    <div class="row  ">
      <div id="main-logo" class="col-lg-4 text-center">
        <a [routerLink]="['/']">
          <img
            src="../../../assets/images/ECM_color2.png"
            alt="Emily's Christmas Magic"
            height="120"
            class="mx-auto"
          />
        </a>
      </div>
      <div class="col-lg-8 my-auto text-center pt-2">
        <h3 class="">
          <a class="email-text" href="mailto:EmilysChristmasMagic@gmail.com"
            >EmilysChristmasMagic@gmail.com</a
          >
        </h3>
        <h3 class="phone-text">
          <mdb-icon
            fas
            icon="phone "
            class="pr-1"
            aria-hidden="true"
          ></mdb-icon>
          <b><a class="phone-text" href="tel:330-860-3993">330-860-3993</a></b>
        </h3>
      </div>
    </div>
  </div>
</div>
<mdb-navbar id="stickNavbar"  SideClass="navbar navbar-expand-lg navbar-dark teal" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        *ngIf="this.showMore"
        class="navbar-brand"
        src="../../../assets/images/ECM_white.png"
        alt="logo"/>
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/']" mdbWavesEffect>Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/AboutOurMagic']" mdbWavesEffect>About Our Magic</a>
        </li>
    </ul>

   
  </links>

</mdb-navbar>