<!-- As a heading -->
<div class="mx-auto navbar-brand-brand" id="headerNavbar">
  <div class="container">
    <div class="row  ">
      <div id="main-logo" class="col-lg-4 text-center">
        <a [routerLink]="['/']">
          <img
            src="../../../assets/images/ECM_color2.png"
            alt="Emily's Christmas Magic"
            height="120"
            class="mx-auto"
          />
        </a>
      </div>
      <div class="col-lg-8 my-auto text-center pt-2">
        <h3 class="">
          <a class="email-text" href="mailto:EmilysChristmasMagic@gmail.com"
            >EmilysChristmasMagic@gmail.com</a
          >
        </h3>
        <h3 class="phone-text">
          <mdb-icon
            fas
            icon="phone "
            class="pr-1"
            aria-hidden="true"
          ></mdb-icon>
          <b><a class="phone-text" href="tel:330-860-3993">330-860-3993</a></b>
        </h3>
      </div>
    </div>
  </div>
</div>
<nav id="stickNavbar" class="navbar navbar-expand-lg navbar-dark teal">
  <a class="navbar-brand my-auto" [routerLink]="['/']">
    <img
      *ngIf="this.showMore"
      class="navbar-brand"
      src="../../../assets/images/ECM_white.png"
      alt="logo"
    />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active ">
          <a class="nav-link " [routerLink]="['/']" mdbWavesEffect>Home</a>
        </li>
        <!--<li class="nav-item navbar-brand">
          <a
            class="nav-link waves-light"
            [routerLink]="['/Services']"
            mdbWavesEffect
            >Services</a
          >
        </li>-->
    </ul>
  </div>
</nav>