<div class="background-container">
    <img class="background-img" src="../../../assets/images/Background/Group 57@3x.png" alt="Muiltple Gifts">
    <div class="header-centered"> 
      <div class="header-background text-center">
        <h1 class="background-header">About Our Magic</h1>
      </div>
    </div>
    <img class="header-gift" src="../../../assets/images/Mama-gits/Gifts2.png" alt="Header Mama-Gift">
</div>
<div class="container">
    <!-- <app-request-form></app-request-form> -->
    <div class="row">
      <div class="col-sm-12">
        <p class="mb-0"> 
            My name <span class="font-weight-bold font-main"> Emily Bonnette  this is my North Pole operation! </span>To me Christmas is a time of year that brings people together and there really is nothing that gets me more excited! The people, the presents, the lights, the snow (well not so much anymore but I grew up in Ohio).
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <app-quote-separator [quote]="'My goal is to bring that service my dad entrusted me with to all of you!'"></app-quote-separator>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class=""> 
            Growing up I remember locking myself in my room, blasting Christmas music and spending hours wrapping presents! I had my own little Christmas tree lit up in the corner and all the wrapping paper I could steal from my moms closet. I would always try to “trick” people and wrap my presents in different shapes and sizes! One of my favorite memories is when I got old enough to help my dad! He would sneak all the presents for my mom in my closet and have me wrap them for her! <span class="font-weight-bold font-main"> My goal is to bring that service my dad entrusted me with to all of you! </span>
        </p>
      </div>
    </div>
  </div>
    <div class="background-container christmas-team mb-3">
      <img class="background-img" src="../../../assets/images/Background/ChristmasTeam3.png" alt="Christmas Team">
      <div class="header-centered"> 
        <div class="header-background text-center">
          <h1 class="font-main">The Christmas Team</h1>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <p class=""> 
            Of course I wouldn’t be able to bring you all the Christmas magic by myself! <span class="font-weight-bold font-main">I have a wonderful Christmas team on my side! </span> 
          </p>
          <p class="mb-0"> 
            My wonderful fiance, my Chief of Technology who made this wonderful website. Who also wears many hats and is my Chief of Operations to make sure I stay on track and my general support in all my endeavours!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        <app-quote-separator [quote]="'I have a wonderful Christmas team on my side!'"></app-quote-separator>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
          <p class=""> 
            My bright and shiny step daughter who demands creativity and positive energy in my home everyday and will be my Christmas carolling buddy!
          </p>

          <p class=""> 
            Then finally <span class="font-weight-bold font-main">Clary the Christmas Cat!</span> She may try everything in her power to make sure your presents don’t get wrapped like laying on wrapping paper, playing with bows and eating our Christmas tree but don’t worry she really does love Christmas!
          </p>
        </div>
      </div>
  </div>