<form (ngSubmit)="onSubmit()" #heroForm="ngForm" [hidden]="submitted">

    <!-- name -->
    <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="model.name" name="name">
  
    <!-- email -->
    <input type="text" class="form-control" id="email"
       required
       [(ngModel)]="model.email" name="email">
  
    <!-- message -->
    <input type="text" class="form-control" id="message"
       required
       [(ngModel)]="model.message" name="message">
  
       <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
  
</form>
