<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Contact Us</h2>
      <ul>
        <li><span class="font-weight-bold">Phone: </span> <a class="phone-text" href="tel:850-585-3132">850-585-3132</a></li>
        <li>
          <span class="font-weight-bold">E-mail: </span>
          <a class="email-text" href="mailto:nnwfl@crystalmarblepolishing.com">nwfl@crystalmarblepolishing.com</a>
        </li>
        <li>
          <span class="font-weight-bold">Location: </span> Northwest Florida and
          Gulf Coast
        </li>

        <!--<li> <span class="font-weight-bold">Northwest Florida </span>and gulf coast area: <span class="font-weight-bold">850-585-3132</span></li>
        <li><span class="font-weight-bold">E-mail </span>: nwfl@crystalmarblepolishing.com</li>-->
      </ul>
      <div class="box">
        <p>
          High, Medium, or Low shine…We will give you an on-site sample of our
          work, so you can decide exactly what you want your floors to look
          like.
        </p>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <p class="text-center">
        Licensed and insured
        <span class="font-weight-bold main-text"> | </span> Best references
        available upon request
        <span class="font-weight-bold main-text"> | </span>
        Commercial and residential customers welcome.
      </p>
    </div>
  </div>
</div>
