<!--Footer-->
<footer class="page-footer red darken-2 z-depth-0">
  <!--Footer Links-->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5 class="brand text-center">Emily's Christmas Magic</h5>
        <p>
          Regardless of the service you select, we will make sure that you are
          happy with the outcome. We offer competitive pricing with our excellent
          workmanship and professional service. Call for a free estimates!
        </p>
        <p class="font-weight-bold text-center"><a class="white-phone-text" href="tel:330-860-3993">
            <mdb-icon fas icon="phone" aria-hidden="true"></mdb-icon>
            330-860-3993</a
          ></p>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <mdb-icon
              fas
              icon="angle-right"
              class="pr-2"
              aria-hidden="true">
            </mdb-icon>
            <a [routerLink]="['/']">Home</a>
          </li>
          <!--<li>
              <mdb-icon
                fas
                icon="angle-right"
                class="pr-2"
                aria-hidden="true">
              </mdb-icon>
              <a [routerLink]="['/Services']">Services</a></li>
          <li>
              <mdb-icon
                fas
                icon="angle-right"
                class="pr-2"
                aria-hidden="true">
              </mdb-icon>
              <a [routerLink]="['/Gallery']">Gallery</a></li>
          <li>
              <mdb-icon
                fas
                icon="angle-right"
                class="pr-2"
                aria-hidden="true">
              </mdb-icon>
              <a [routerLink]="['/CareTips']">Care Tips</a></li>
          <li>
              <mdb-icon
                fas
                icon="angle-right"
                class="pr-2"
                aria-hidden="true">
              </mdb-icon>
              <a [routerLink]="['/ContactUS']">Contact Us</a></li>-->
        </ul>
      </div>
    </div>
  </div>

  <!--Copyright-->
  <div class="red darken-3">
    <div class="container mx-auto text-center">
      <a [routerLink]="['/']"> © 2020 Copyright: EmilysChristmasMagic </a>
      |
      <a href="https://miguelchavezweb.com/" target="_blank">
        Powered by: MiguelChavezWeb.com</a
      >
    </div>
  </div>
</footer>
