<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Services</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <!--Card image
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"
          ></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        /Card image-->

        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Diamond Grinding</h4>
          <p class="text-card">
            Essentially a Wet Sanding. This process removes surface scratches,
            surface wear and tear marks, etch marks, etc…This will make the
            floor smooth and ready for polishing
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Sealing</h4>
          <p class="text-card">
            Penetrating sealer protects the floor from the inside out, filling
            the pores with silicone and creating a protective barrier at the
            floor surface
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Polishing</h4>
          <p class="text-card">
            Process gives the floor shine. If the floor was not diamond grinded,
            it will clean the surface as well
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Crystallizing</h4>
          <p class="text-card">
            Crystallizing will give the floor an additional boost of shine and
            hardens the surface.
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Lippage Removal</h4>
          <p class="text-card">
            Removes lippage (difference in height between tiles) between tiles
            prior to polishing…the ULTIMATE service
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Stripping</h4>
          <p class="text-card">
            Removal of topical coatings or wax to expose stone
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Repairs</h4>
          <p class="text-card">
            Repair of holes, cracks, loose tiles and more
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Maintenance</h4>
          <p class="text-card">
            Service plans to keep your stone looking great
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <mdb-card cascade="true" wider="true">
        <mdb-card-body cascade="true" class="">
          <h4 class="card-title">Walls and Countertops</h4>
          <p class="text-card">
            All above services are also available for walls and countertops
          </p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <h2 class="mb-0">Types of Stone we Service</h2>
      <span class="small-text mb-3">INCLUDE, BUT ARE NOT LIMITED TO:</span>
      <ul>
        <li>Marble</li>
        <li>Travertine</li>
        <li>Terrazzo</li>
        <li>Mexican Tile/Terracotta/Saltillo</li>
        <li>Slate</li>
        <li>Vinyl</li>
        <li>Granite</li>
        <li>Limestone</li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="box">
        <p>
          We also service and repair Walls, Tables, and other types of Natural
          stone surfaces in addition to flooring.
        </p>
      </div>
    </div>
  </div>
</div>
