<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>About Us</h2>
      <p>
        Here at <span class="font-weight-bold">Emily’s Christmas Magic </span> have one goal in mind, a easy beautiful Christmas for you and your family! Let us take care of making your Christmas picture perfect!
      </p>
      <p>
        We offer competitive pricing with our excellent workmanship and
        professional service.
      </p>
      <h2>Contact</h2>
      <ul>
        <li><span class="font-weight-bold">Phone: </span> <a class="phone-text" href="tel:850-585-3132">330-860-3993</a></li>
        <li>
          <span class="font-weight-bold">E-mail: </span>
          <a class="email-text" href="mailto:EmilysChristmasMagic@gmail.com">EmilysChristmasMagic@gmail.com</a>
        </li>
        <li>
          <span class="font-weight-bold">Location: </span> Orlando Area
        </li>
      </ul>
    </div>

    <!-- Cards -->
    <div class="cards mt-4">
      <div class="row">
        <div class="col-lg-4">
      <div class="card ecm-card p-3 mb-4">
        <img class="card-img-top" src="../../../assets/images/MuiltGifts/M_Gifts2.png" alt="Muiltple Gifts">
        <div class="card-body pb-0">
          <h4 class="card-title text-center"><b>Muiltple Gifts</b></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary ecm-card-btn"> Learn More </a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card ecm-card p-3 mb-4">
        <img class="card-img-top" src="../../../assets/images/UniqueShapes/UniqueShapes@2x.png" alt="Unique Shapes">
        <div class="card-body pb-0">
          <h4 class="card-title text-center"><b>Unique Shapes</b></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary ecm-card-btn"> Learn More </a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card ecm-card p-3 mb-4">
        <img class="card-img-top ecm-card-img" src="../../../assets/images/Expedited/Expedited@2x.png" alt="Expedited">
        <div class="card-body pb-0">
          <h4 class="card-title text-center"><b>Expedited</b></h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary ecm-card-btn"> Learn More </a>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-12">
      <p class="text-center mt-2">
        Custom magic available upon request
        <span class="font-weight-bold redd-text"> | </span>
        All customers welcome.
      </p>
    </div>
  </div>
</div>
