@import './../../../styles.scss';

.background-container {
  position: relative;
  .background-img {
    width: 100%;
  }
  .header-centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 100%;
    .background-header { 
      color: map-get($palette,white);
      font-size: 64px;
    }
  }
  .header-gift {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 60%;
    margin-top: 1em;
  }
  margin-bottom: 10em;
}
.email-text {
  color: black;
  text-decoration: underline;
}
.phone-text {
  color: black;
  text-decoration: none;
}
