<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>About Us</h2>
      <p>
        Here at <span class="font-weight-bold">Emily’s Christmas Magic </span> have one goal in mind, a easy beautiful Christmas for you and your family! Let us take care of making your Christmas picture perfect!
      </p>
      <p>
        We offer competitive pricing with our excellent workmanship and
        professional service.
      </p>
      <h2>Contact</h2>
      <ul>
        <li><span class="font-weight-bold">Phone: </span> <a class="phone-text" href="tel:850-585-3132">330-860-3993</a></li>
        <li>
          <span class="font-weight-bold">E-mail: </span>
          <a class="email-text" href="mailto:EmilysChristmasMagic@gmail.com">EmilysChristmasMagic@gmail.com</a>
        </li>
        <li>
          <span class="font-weight-bold">Location: </span> Orlando Area
        </li>
      </ul>
    </div>
    <div class="col-sm-12">
      <p class="text-center mt-2">
        Custom magic available upon request
        <span class="font-weight-bold redd-text"> | </span>
        All customers welcome.
      </p>
    </div>
  </div>
</div>
