@import './../../../styles.scss';

.view {

  max-height: 550px;
  border-radius: 5px;

  img {

  max-height: 550px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

  }
}

.email-text {
  color: black;
  text-decoration: underline;
}

