<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Care Tips</h2>
      <p>
        Here are some steps you can take to help take better care of your floors
        in between visits:
      </p>
      <ul>
        <li>
          Wash your floors with water only. If you want a scent or soap, use
          "Fabuloso", found on the bottom shelf at most grocery stores in the
          floor cleansers aisle. You can also use "Neutral Floor Cleaner",
          available at Home Depot. Create a solution with mostly water and a
          very small amount of the soap.
        </li>
        <li>
          Do not leave any standing water or liquids on the floors for an
          extended period of time. When left on the floors, they can deteriorate
          the sealer and can cause stains and etch marks that stay in the stone.
        </li>
        <li>
          With shower walls, you can purchase a small squeegee at the grocery
          store. After bathing, just run the squeegee from top to bottom to
          remove any standing water. This also helps keep stains from forming on
          your shower walls.
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
        <app-my-carousel [slides]="slides"> </app-my-carousel>
    </div>
    <div class="col-sm-12 text-center">
      <a
        mdbBtn
        type="button"
        class="blue-grey darken-3 white-text"
        mdbWavesEffect
        href="../../../assets/pdfs/StoneFloorMaintenance.pdf"
        target="_blank"
        size="lg"
      >
        More Care Instructions
      </a>
    </div>
  </div>
</div>
