<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Gallery</h2>
    </div>
  </div>
      <p>
        Take a look through our galleries (Travertine, Marble, Terrazzo & Other). There are picture examples of
        different types of stones we have worked on. Swipe through
        the pictures or click on anyone to enlarge it.
      </p>
  <h3>
    <mdb-icon fas icon="caret-right" class="pr-2" aria-hidden="true"> </mdb-icon
    >Travertine
  </h3>
  <app-my-carousel [slides]="travertineSlides"> </app-my-carousel>
  <h3 class="mt-5">
    <mdb-icon fas icon="caret-right" class="pr-2" aria-hidden="true"> </mdb-icon
    >Marble
  </h3>
  <app-my-carousel [slides]="marbleSlides"> </app-my-carousel>
  <h3 class="mt-5">
    <mdb-icon fas icon="caret-right" class="pr-2" aria-hidden="true"> </mdb-icon
    >Terrazzo
  </h3>
  <app-my-carousel [slides]="terrazzoSlides"> </app-my-carousel>
  <h3 class="mt-5">
    <mdb-icon fas icon="caret-right" class="pr-2" aria-hidden="true"> </mdb-icon
    >Other
  </h3>
  <app-my-carousel [slides]="otherSlides"> </app-my-carousel>
</div>
